.catalog {
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
}

.movie {
    height: 20em;
    width: 20em;
    float: left;
    padding: 1em;
}

.poster {
    height: 90%;
    overflow: hidden;
}

.movie img {
    width:100%;
}

.pager li>a, .pager li>span {
    background-color: black;
    color: white;

}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    background-color: black;
}

.pager li>a:hover {
    background-color: gray;
}

.pager li > a:focus {
    background-color: black;
}