.catalog {
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
}

.movie {
    height: 20em;
    width: 20em;
    float: left;
    padding: 1em;
}

.poster {
    height: 90%;
    overflow: hidden;
    transition: all 0.5s ease;
}

.poster:hover {
    overflow: visible;
    transform: scale(1.25);
}

.movie img {
    width:100%;
}

.pager li>a, .pager li>span {
    background-color: black;
    color: white;
    margin: 1em;

}

.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
    background-color: black;
}

.pager li>a:hover {
    background-color: gray;
}

.pager li > a:focus {
    background-color: black;
}

.movie-details {
    position: fixed;
    left: 10em;
    right: 20em;
    top: 20em;
    height: auto;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.71);
    display: none;
}

.movie-details.enabled {
    display: block;
}

.movie-details .glyphicon {
    float: right;
    cursor: pointer;
}

.btn {
    padding: 0em;
}
.btn-primary {
    background-color: #060606;
    border: none;
}

.btn-group button:hover, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #4c4c4c;
}

header .btn-group button {
    height: 100%;
}

.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('../img/star-off.png');
    background-size : contain;
}

.starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('../img/star-on.png');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
