<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>MovieFlix - Comments</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/comments.css">
    </head>

    <body ng-app="comments" ng-controller="commentsCtrl">
        <header>
            <div class="logo">MOVIEFLIX</div>
            <div class="btn-group" uib-dropdown>
                <button id="btn-browse" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    Browse <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                    <li role="menuitem"><a href="#">Movies</a></li>
                    <li role="menuitem"><a href="#">TV Series</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a href="#">Top Rated Movies</a></li>
                    <li role="menuitem"><a href="#">Top Rated TV Series</a></li>
                </ul>
            </div>
            <div class="btn-group" uib-dropdown>
                <button id="btn-sort" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    Sort <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-single-button">
                    <li role="menuitem"><a href="#">IMDb Rating</a></li>
                    <li role="menuitem"><a href="#">Year</a></li>
                    <li role="menuitem"><a href="#">IMDb Votes</a></li>
                </ul>
            </div>
            <div class="user"><a href="signin.html">Log out</a></div>
            <div class="search glyphicon glyphicon-search"><input type="search" placeholder="Search Titles, Genres, Years"/></div>
        </header>

        <div>
            <div class="comments">
                <h2>Reviews</h2>
                <div class="user-comments">
                    <div ng-repeat="c in comments" class="comment">
                        <span class="starRating disabled">
                            <input id="rating5{{$index}}" type="radio" name="rating{{$index}}" value="5" ng-model="c.rating" disabled>
                            <label for="rating5{{$index}}">5</label>
                            <input id="rating4{{$index}}" type="radio" name="rating{{$index}}" value="4" ng-model="c.rating" disabled>
                            <label for="rating4{{$index}}">4</label>
                            <input id="rating3{{$index}}" type="radio" name="rating{{$index}}" value="3" ng-model="c.rating" disabled>
                            <label for="rating3{{$index}}">3</label>
                            <input id="rating2{{$index}}" type="radio" name="rating{{$index}}" value="2" ng-model="c.rating" disabled>
                            <label for="rating2{{$index}}">2</label>
                            <input id="rating1{{$index}}" type="radio" name="rating{{$index}}" value="1" ng-model="c.rating" disabled>
                            <label for="rating1{{$index}}">1</label>
                        </span>
                        <div>{{c.text}}</div>
                    </div>
                </div>
                <div class="new-comment">
                    <h3>Write a Review</h3>
                    <form>
                        <div>Rate this Title:</div>
                        <span class="starRating">
                            <input id="rating5" type="radio" name="rating" value="5" >
                            <label for="rating5">5</label>
                            <input id="rating4" type="radio" name="rating" value="4" >
                            <label for="rating4">4</label>
                            <input id="rating3" type="radio" name="rating" value="3" >
                            <label for="rating3">3</label>
                            <input id="rating2" type="radio" name="rating" value="2" >
                            <label for="rating2">2</label>
                            <input id="rating1" type="radio" name="rating" value="1" >
                            <label for="rating1">1</label>
                        </span>
                        <div>
                            <textarea placeholder="Write your review here"></textarea>
                            <input type="submit"/>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        <script src="js/comments.js"></script>
    </body>

</html>