<div>
    <nav>
        <ul class="pager">
            <li class="previous" ng-class="{'disabled': bCtrl.page == 0}">
                <a ng-click="bCtrl.gotoPrev()"><span aria-hidden="true">&larr;</span> Prev</a>
            </li>
            <li class="next" ng-class="{'disabled': bCtrl.page == bCtrl.pagedData.length - 1}">
                <a ng-click="bCtrl.gotoNext()">Next <span aria-hidden="true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
    <div class="catalog">
        <div ng-repeat="movie in bCtrl.pagedData[bCtrl.page]" class="movie">
            <div class="poster">
                <img ng-src="{{movie.Poster}}" alt="{{movie.Title}}" ng-click="bCtrl.showDetails(movie)"/>
            </div>
            <div>{{movie.Title}} ({{movie.Year}})</div>
        </div>
    </div>

    <div class="movie-details alert alert-dismissible" ng-show="bCtrl.enableDetails">
        <span class="glyphicon glyphicon-remove" ng-click="bCtrl.hideDetails()"></span>
        <h2>{{bCtrl.selectedMovie.Title}} ({{bCtrl.selectedMovie.Year}})</h2>
        <mf-rating rating-value="bCtrl.selectedMovie.MovieFlixRating"></mf-rating>
        <div>{{bCtrl.selectedMovie.Runtime}}</div>
        <div>{{bCtrl.selectedMovie.Genre}}</div>
        <div>Directed by: {{bCtrl.selectedMovie.Director}}</div>
        <div>Starring {{bCtrl.selectedMovie.Actors}}</div>
        <div>{{bCtrl.selectedMovie.Plot}}</div>
        <div><a ng-href="http://www.imdb.com/title/{{bCtrl.selectedMovie.imdbID}}/">IMDb Rating: {{bCtrl.selectedMovie.imdbRating}}</a></div>
        <div><a ng-href="#/comments/{{bCtrl.selectedMovie.imdbID}}">Comments/Reviews</a></div>
        <div class="admin-actions" ng-show="bCtrl.isAdmin">
            <a ng-href="#/edit-movie/{{bCtrl.selectedMovie.imdbID}}" class="btn btn-default">Edit</a>
            <a class="btn btn-default">Delete</a>
        </div>
    </div>
</div>
