<div>
    <div class="comments">
        <h2>Reviews</h2>
        <div class="user-comments">
            <div ng-repeat="c in cCtrl.comments" class="comment">
                <mf-rating rating-value="c.rating" readonly="true"></mf-rating>
                <div>{{c.text}}</div>
            </div>
        </div>
        <div class="new-comment">
            <h3>Write a Review</h3>
            <form>
                <div>Rate this Title:</div>
                <mf-rating rating-value="cCtrl.newRating"></mf-rating>

                <div>
                    <textarea ng-model="cCtrl.newReview" placeholder="Write your review here"></textarea>
                    <button ng-click="cCtrl.addComment()">Submit</button>
                </div>
            </form>

        </div>
    </div>

</div>
